@page "/acerca_de"

<h1>Acerca de</h1>

<img src="imagenes\FotoG.jpg" title="FotoG" width="400" height="500" class="mb-3">


<p><b>Nombre:</b>GREGORIS ISMAEL DE LA CRUZ DE LA CRUZ</p>
<br>
<p><b>Matricula:</b> 2023-1122</p>
<br>
<br>
<p><b>Correo:</b>gregoris123@gmail.com</p>
<br>
<p>Me gustaria hacer mucha cosas la verdad.</p>
<br>

<div class="text-center">
    <a target="_blank" href="https://t.me/mrgregoris?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno,%20Te%20pagaremos%20mucho%20dinero"
    class="btn btn-primary"><i class="fab fa-telegram"></i> Telegram</a>
</div>