@page "/"

<PageTitle>Inicio</PageTitle>
<div class="text-end">
    <NavLink class="btn btn-primary" href="Acerca_de">Acerca de</NavLink>
</div>

<h4>Pulsa en el ejercicio que quieras ver.</h4>


<div class="btn" hidden></div

<div>
<a href="/ej01" class="btn">Ejercicio 1</a>
<a href="/ej02" class="btn">Ejercicio 2</a>
<a href="/ej03" class="btn">Ejercicio 3</a>
<a href="/ej04" class="btn">Ejercicio 4</a>
<a href="/ej05" class="btn">Ejercicio 5</a>
<a href="/ej06" class="btn">Ejercicio 6</a>
<a href="/ej07" class="btn">Ejercicio 7</a>
<a href="/ej08" class="btn">Ejercicio 8</a>
<a href="/ej09" class="btn">Ejercicio 9</a>
<a href="/ej010" class="btn">Ejercicio 10</a>
<a href="/ej011" class="btn">Ejercicio 11</a>
<a href="/ej012" class="btn">Ejercicio 12</a>
<a href="/ej013" class="btn">Ejercicio 13</a>
<a href="/ej014" class="btn">Ejercicio 14</a>
<a href="/ej015" class="btn">Ejercicio 15</a>
<a href="/ej016" class="btn">Ejercicio 16</a>
<a href="/ej017" class="btn">Ejercicio 17</a>
<a href="/ej018" class="btn">Ejercicio 18</a>
<a href="/ej019" class="btn">Ejercicio 19</a>
<a href="/ej020" class="btn">Ejercicio 20</a>
<a href="/ej021" class="btn">Ejercicio 21</a>
<a href="/ej022" class="btn">Ejercicio 22</a>
<a href="/ej023" class="btn">Ejercicio 23</a>
<a href="/ej024" class="btn">Ejercicio 24</a>
<a href="/ej025" class="btn">Ejercicio 25</a>
</div>

