@page "/ej010"
@rendermode InteractiveServer

<h5> Construir una función que reciba como parámetro un entero y retorne 1. Si en dicho valor todos los dígitos son iguales, debería retornar 0 si no es así.</h5>

<input @bind="numA" type="number" placeholder="Ingresa un número" />
<button @onclick="CheckEqualDigits">Verificar</button>

<p>El resultado es: @result</p>

@code {
    private int numA;
    private int result;

    private void CheckEqualDigits()
    {
        result = AreAllDigitsEqual(numA);
    }

    private int AreAllDigitsEqual(int numA)
    {
        string numBString = numA.ToString();
        char numCChar = numBString[0];

        foreach (char numDChar in numBString)
        {
            if (numDChar != numCChar)
            {
                return 0;
            }
        }

        return 1;
    }
}