@inherits LayoutComponentBase
@inject NavigationManager NavMan

<div class="container">
    <header class="border-bottom">
        <div class="">
            <a href="/" class="linkmudo"><h1>Tarea 2</h1></a>
            <p class="linkp">Aqui podras encontrar todas las tareas.</p>
        </div>
    </header>
    <div id="divMain">
        @Body
    </div>
    <footer class="border-top footer text-muted">
        <div class="contrainer">
            &copy: 2024 - Gregoris Ismael
        </div>
    </footer>
    
</div>

